<h1>New project</h1>
<!-- http://guides.rubyonrails.org/form_helpers.html --> 
<!-- http://railscasts.com/episodes/196-nested-model-form-part-1 -->

<%= render 'form' %>

<%= link_to 'Back', projects_path %>
